<div .panel .panel-default>
  <div .panel-heading>
    <div .panel-title>
      <i class="fa fa-bus" aria-hidden="true">
      Daycare Semestre

  <div .panel-body>
    <p>
      Select a daycare semestre
    <ul>
      $forall Entity dcsid dcs <- semestres
        <li>
          <a .btn .btn-default href=@{AdminR $ AdminDaycareEnrollmentsSemestreR dcsid}>
            Overview for #{semestreText $ daycareSemestreSemestre dcs} #{schoolYearText $ daycareSemestreYear dcs}

<div .panel .panel-default>
  <div .panel-heading>
    <div .panel-title>
      <i class="fa fa-daycare" aria-hidden="true">
      Day

  <div .panel-body>
    <form
      .form
      method="get"
      action=@{AdminR AdminDaycareEnrollmentsDayR}
      enctype=#{formEnctype}>
      ^{formWidget}
      <div .form-group>
        <button
          type="submit"
          .btn 
          .btn-primary>
            Search

