<div .panel .panel-default>
  <div .panel-heading>
    <div .panel-title>
      <i class="fa fa-calendar" aria-hidden="true">
      Daycare Timeslots

  <div .panel-body>
    <a href=@{AdminR $ AdminRegisterDaycareTimeslotR sid} .btn .btn-default>
      Register Daycare Timeslot

  <table
    .table>
    <tr>
      <th> School day
      <th> Start
      <th> End
      <th> Fee
      <th> Occasional Fee
      <th .col-md-1>
      <th .col-md-1>
    $forall (Entity daycareTimeslotId daycareTimeslot) <- daycareTimeslots
      <tr>
        <td>
          #{schoolDayText $ daycareTimeslotSchoolDay daycareTimeslot}
        <td>
          #{formatTimestamp $ daycareTimeslotStart daycareTimeslot}
        <td>
          #{formatTimestamp $ daycareTimeslotEnd daycareTimeslot}
        <td>
          #{fmtAmount $ daycareTimeslotFee daycareTimeslot}
        <td>
          #{fmtAmount $ daycareTimeslotOccasionalFee daycareTimeslot}
        <td>
          <a .btn .btn-default href=@{AdminR $ AdminDaycareTimeslotR sid daycareTimeslotId}>
            Edit
        <td>
          <form
            method="post"
            action=@{AdminR $ AdminDaycareTimeslotDeleteR sid daycareTimeslotId}>
            ^{token}
            <button .btn .btn-danger
              type="submit">
              Delete
        <td>
          <a .btn .btn-default href=@{AdminR $ AdminDaycareTimeslotOverviewR sid daycareTimeslotId}>
            Overview

