<div .panel .panel-default>
  <div .panel-heading>
    <div .panel-title>
      Technical control panel

  <div .panel-body>
    <a .btn .btn-info
      href=@{AdminR AdminTechnicalShoppingCartsR}>
      Shopping Cart Overview
  <div .panel-body>
    <form
      method="post"
      action=@{AdminR AdminTechnicalRefreshStripeCustomersR}>
      ^{token}
      <button .btn .btn-danger
        type="submit">
        Refresh Stripe Customers
