<div .panel .panel-default>
  <div .panel-heading>
    <h3 .panel-title>
      <i class="fa fa-child" aria-hidden="true">
      Signing up a child
  <div .panel-body>
    <form
      .form
      method="post"
      action=@{SignupCustomActivityR}
      enctype=#{formEnctype}>
      ^{formWidget}
      <div .form-group>
        <button
          type="submit"
          class="btn btn-primary">
            Sign up Child

<div .panel .panel-default>
  <div .panel-heading>
    <h3 .panel-title>
      <i class="fa fa-child" aria-hidden="true">
      Custom Activity Signups
  <table
    .table>
    <tr>
      <th> Child
      <th> Activity
    $forall (_, c, ca, _) <- ets
      <tr>
        <td>
          #{childName c}
        <td>
          #{customActivityDescription ca}

<div .panel .panel-default>
  <div .panel-heading>
    <h3 .panel-title>
      <i .fa .fa-child aria-hidden="true">
      Actitivities
  <table
    .table>
    <tr>
      <th> SchoolYear
      <th> Description
      <th> Date
      <th> Start
      <th> End
      <th> Fee
      <th> Spaces
    $forall (Entity _ activity, spaces) <- activityTups
      <tr>
        <td>
          #{schoolYearText $ customActivitySchoolYear activity}
        <td>
          #{customActivityDescription activity}
        <td>
          #{formatDay $ customActivityDate activity}
        <td>
          #{formatTimestamp $ customActivityStart activity}
        <td>
          #{formatTimestamp $ customActivityEnd activity}
        <td>
          #{fmtAmount $ customActivityFee activity}
        <td>
          #{spaces}
