<div .panel .panel-default>
  <h1>
    Account
  <table
    .table>
      <tr>
        <th .col-md-2> Username
        <td> #{fromMaybe "" accountUsername}
      <tr>
        <th> Account created
        <td> #{Time.formatTime Time.defaultTimeLocale "%F %R" accountCreationTime}
