<div .panel .panel-default>
  <div .panel-heading>
    <h3 .panel-title>
      <i .fa .fa-eur aria-hidden="true">
      Invoice
  <table
    .table>
    <tr>
      <th> Description
      <th .text-right> Cost
    $forall c <- invoiceCostLines i
      <tr>
        <td>
          #{costLineDescription c}
        <td .text-right>
          #{fmtAmount $ costLineAmount c}
    $forall c <- invoiceDiscountLines i
      <tr .success>
        <td>
          #{fromMaybe "" $ discountLineDescription c}
        <td .text-right>
          #{fmtAmount $ negateAmount $ discountLineAmount c}
    <tr .active>
      <td>
        Total
      <td .text-right>
        #{fmtAmount total}
