<div .panel .panel-default>
  <div .panel-heading>
    <h3>
      <i class="fa fa-users" aria-hidden="true">
      Step 1: Fill in your data.
  <div .panel-body>
    <p>
      To register yourself, click the
      <a .btn .btn-default href=@{ParentsR}> Parents
      button.
      Each parent or guardian has to be registered seperately.

$if readyToFillInDoctors
  <div .panel .panel-default>
    <div .panel-heading>
      <h3>
        <i class="fa fa-user-md" aria-hidden="true">
        Step 2: Fill in your doctor's data.
    <div .panel-body>
      <p>
        To register yourself, click the
        <a .btn .btn-default href=@{DoctorsR}> Doctors
        button.

$if readyToFillInChildren
  <div .panel .panel-default>
    <div .panel-heading>
      <h3>
        <i class="fa fa-child" aria-hidden="true">
        Step 3: Register your children.

    <div .panel-body>
      <p>
        To register your children, click the
        <a .btn .btn-default href=@{ChildrenR}> Children
        button.

$if readyToSignupChildren
  <div .panel .panel-default>
    <div .panel-heading>
      <h3>
        <i class="fa fa-bus" aria-hidden="true">
        Step 4: Sign up your children for the services of your choice.

    <div .panel-body>
      <p>
        To sign up your children for services, click the
        <a .btn .btn-default href=@{SignupR}> Signup
        button.

$if readyToViewChosenServices
  <div .panel .panel-default>
    <div .panel-heading>
      <h3>
        <i class="fa fa-shopping-cart" aria-hidden="true">
        Step 5: Review chosen services

    <div .panel-body>
      <p>
        To review chosen services, perss the
        <a .btn .btn-default href=@{ChosenR}> Chosen Services
        button.

$if readyToViewCosts
  <div .panel .panel-default>
    <div .panel-heading>
      <h3>
        <i class="fa fa-credit-card" aria-hidden="true">
        Step 6: Review the costs and pay

    <div .panel-body>
      <p>
        To review costs and pay, click the
        <a .btn .btn-default href=@{CheckoutChooseR}> Checkout
        button.

$if readyToViewPayments
  <div .panel .panel-default>
    <div .panel-heading>
      <h3>
        <i class="fa fa-file" aria-hidden="true">
        Step 7: Review your payments

    <div .panel-body>
      <p>
        To review payments
        <a .btn .btn-default href=@{PaymentsR}> Payments
        button.
